 .bar{
max-width: 500px;
max-height: 100%;
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
background-color: rgb(255, 244, 244);
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
overflow: scroll;

bottom:-1.8%;
position: fixed;

}


.visit__Riot{
display:flex;
font-size: 16px;
text-transform: uppercase;
}


.text__Bar{
display: flex;
align-items: center;
justify-content: space-around;
background-color: rgb(255, 244, 244);


}

.text__Bar> h2{
font-size: 24px!important;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
cursor: pointer;
color: #C7C7C7;


transition: color 0.1s linear;
font-weight: 900;
color: #333333;
background-color: white!important;
}


a{
color: #111111;
text-decoration: none;
font-size:12px;
font-weight: 900;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


span{
    display: flow-root;
    font-weight: 900;
    font-size: 14px;
}


 .close__Icon{
width:20px!important;
height: 10px;
color:#6e6d6d;
background-color: #e9e6e6;;
margin-right: 10px;
 }



 .bar__Images{

background-color: rgb(255, 244, 244);

padding: 10px;

 }
 


.bar__image1{
    
   width: 350px;
    height: 170px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
    max-width: 100%;
    
}
.bar__image1:hover{
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}


.bar__image2:hover{
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}


.bar__image2{
width: 230px;
height: 153px;
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
max-width: 100%;
margin: 5px;
}


.KDA{
vertical-align: top;
display: inline-block;
text-align: center;
font-size: 12px;     
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width:501px){


.bar__image2{
width: 200px;
}
}

@media screen and (max-width:440px){
.bar__image2{
width: 150px;
}
}


@media screen and (max-width:350px){

.bar__image2{
width: 140px;
}
}

@media all and (max-width:1899px){
    .bar{
       top:8.5%
    }
}