.search{
display: flex;
justify-content: center;
align-items: center;
margin-top: 150px;    

}

.search__Form{
display: flex;
min-width: 20%;
max-width: 80%;
}

.search__Input:focus {
box-shadow: 0 0 0 4px rgb(6, 28, 37);
}


.search__Input{
display: block;
width: 700px;
padding: 10px;
border: 2px solid rgb(143, 142, 142);
display: flex;
}

