.header{
background-color: rgb(17,17,17);
height:80px;
width:100%;
display: flex;
align-items: center; 
cursor: pointer;
position: fixed;
top: 0;
z-index: 999;
}


.lol{
width: 60px;
height: 30px;
}


.fist{
width: 150px!important;
height: 160px!important;
border: none;
transition: background-position 0.25s steps(25, end);
transform: scale(0.33);
background: url(https://lolstatic-a.akamaihd.net/riotbar/live/1.1.5/images/navigation/fistsprite.png) 0 -2400px no-repeat;
background-position: 0 0;

}


.fist:hover{
background: url(https://lolstatic-a.akamaihd.net/riotbar/live/1.1.5/images/navigation/fistsprite.png) 0 -2400px no-repeat;
transition: background-position 0.15s steps(15, end);
transform: scale(0.33);
   
}


.expand{
color: rgb(126,126,126);
position: absolute;
left: 100px
}


.expand:hover{
color: white;
}
